@import url(./reset.css);

#layout-option-1 main {
    
    width: 70%;
    
}

.box {
    float: left;
    margin-right: 15px;
    width: 150px;
    height: 100px;
    border-radius: 5px;
    padding: 1em;
  }


#layout-option-1 aside {
    
    width: 30%;
}

#layout-option-1 .content {
    display: flex;
    flex-direction: row;
    gap: 1em;
}


